BUILD_ID = @@BUILD_ID@@
PIN_SDA = @@PIN_SDA@@
PIN_SCL = @@PIN_SCL@@
PIN_LED = @@PIN_LED@@
PIN_BUTTON = @@PIN_BUTTON@@
I2C_ADDRESS = 0x68
SAMPLE_HZ = 100
LINEAR_ACCEL_THRESHOLD_G = 0.8
GYRO_THRESHOLD_DPS = 120.0
TRIGGER_WINDOW_MS = 300
COOLDOWN_MS = 2000
HEARTBEAT_MS = 5000
INGEST_URL = @@INGEST_URL@@
